.profile-body {
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: green;
}
#abduction_image{
    display: block;
    width: 10%;
}
.modal-content {
    padding: 20px;
}
.ufo_posts {
    background-color: rgb(46, 46, 46);
    
}
.card {
    color: black;
    border-color: green;
    /* margin: auto; */
}
.border {
    border-color: green;
}
a {
    color: green;
}
.logCard {
    color: rgb(158, 0, 158);
    background-color: rgb(31, 31, 31);
}
.logBody {
    color: white;
}
.rateBtn {
    color: rgb(0, 162, 255);
}
.user {
    color: green;
}
i {
    color: green;
}
.modal-content {
    background-color: black;
}

#map {
    height: 80vh;
    width: 80vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #28a745;
}

#loadingSpinner{
}